.containerViewBoxFooter {
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding-bottom: 48px;
    width: 85%;
}

.containerViewBoxFooter span {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 600;
}

.row-divider{
    height: 32;
    width: 3px;
    background: #FFFFFF;
    border-radius: 24px;
}

.selected {
    text-decoration: underline;
    text-decoration-color: #FE7469; 
    text-decoration-thickness: 2px;
    text-underline-offset: 12px
  }
  