.scroll-container {
    overflow-y: scroll;
    height: 100vh;
  }
  
  .body-background {
    height: 100vh;
    background-image: url('./../../assets/backgroundImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    scroll-snap-align: start;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    margin-bottom: 40px;
    border-radius: 24px;
    height: 95vh;
  }
  