.body-background {
    height: 100vh;
    background-image: url('./../../assets//backgroundImage.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
  }
  